# This group is read both both by the client and the server
# use it for options that affect everything
[client-server]


# This group is read by the server
[mysqld]
#ssl
ssl-cipher=TLSv1.2
ssl-ca=/mysql-certs/ca.crt
ssl-cert=/mysql-certs/mysql.acme.com.crt
ssl-key=/mysql-certs/mysql.acme.com.key
#require_secure_transport=ON

datadir=/var/lib/mysql
bind-address=0.0.0.0
log-error=/var/log/mysql/error.log
skip-log-bin
log-output=FILE
general-log=1
general_log_file=/var/log/mysql/general.log
port=3306
user=mysql
socket=/run/mysqld/mysqld.sock
pid-file=/run/mysqld/mysqld.pid
default_authentication_plugin=mysql_native_password

[client]
#ssl
ssl-cipher=TLSv1.2
ssl-ca=/mysql-certs/ca.crt
